CONFIG_REGMAP_MMIO=y
CONFIG_ET131X=m
CONFIG_SLICOSS=m
CONFIG_ALTERA_TSE=m
CONFIG_ENA_ETHERNET=m
CONFIG_AMD_XGBE=m
CONFIG_AMD_XGBE_HAVE_ECC=y
CONFIG_AQTION=m
CONFIG_ATL2=m
CONFIG_ATL1E=m
CONFIG_ATL1C=m
CONFIG_ALX=m
CONFIG_NET_VENDOR_AURORA=y
CONFIG_AURORA_NB8800=m
CONFIG_MACB=m
CONFIG_MACB_PCI=m
CONFIG_BCMGENET=m
CONFIG_CNIC=m
CONFIG_BNX2X=m
CONFIG_BNXT=m
CONFIG_BNA=m
CONFIG_THUNDER_NIC_PF=m
CONFIG_THUNDER_NIC_VF=m
CONFIG_THUNDER_NIC_BGX=m
CONFIG_THUNDER_NIC_RGX=m
CONFIG_LIQUIDIO=m
CONFIG_LIQUIDIO_VF=m
CONFIG_CHELSIO_T4=m
CONFIG_CHELSIO_T4VF=m
CONFIG_ENIC=m
CONFIG_CX_ECAT=m
CONFIG_DNET=m
CONFIG_BE2NET=m
CONFIG_BE2NET_HWMON=y
CONFIG_VXGE=m
CONFIG_IGB=m
CONFIG_IGB_HWMON=y
CONFIG_IGB_DCA=y
CONFIG_IGBVF=m
CONFIG_IXGBEVF=m
CONFIG_I40E=m
CONFIG_I40EVF=m
CONFIG_FM10K=m
CONFIG_JME=m
CONFIG_MVMDIO=m
CONFIG_SKGE_GENESIS=y
CONFIG_MLX4_EN=m
CONFIG_MLX5_CORE=m
CONFIG_MLX5_CORE_EN=y
CONFIG_MLX5_CORE_IPOIB=y
CONFIG_MLXSW_CORE=m
CONFIG_MLXSW_CORE_HWMON=y
CONFIG_MLXSW_CORE_THERMAL=y
CONFIG_MLXSW_PCI=m
CONFIG_MLXSW_I2C=m
CONFIG_MLXSW_MINIMAL=m
CONFIG_KS8842=m
CONFIG_KS8851_MLL=m
CONFIG_KSZ884X_PCI=m
CONFIG_NFP=m
CONFIG_ETHOC=m
CONFIG_QLCNIC=m
CONFIG_QLCNIC_HWMON=y
CONFIG_QLGE=m
CONFIG_QED=m
CONFIG_QEDE=m
CONFIG_QCOM_EMAC=m
CONFIG_R6040=m
CONFIG_SXGBE_ETH=m
CONFIG_SFC=m
CONFIG_SFC_MCDI_MON=y
CONFIG_SFC_MCDI_LOGGING=y
CONFIG_SFC_FALCON=m
CONFIG_SMSC911X=m
CONFIG_SMSC9420=m
CONFIG_STMMAC_ETH=m
CONFIG_STMMAC_PLATFORM=m
CONFIG_DWMAC_GENERIC=m
CONFIG_TI_CPSW_ALE=m
CONFIG_TLAN=m
CONFIG_WIZNET_W5100=m
CONFIG_WIZNET_W5300=m
CONFIG_WIZNET_BUS_ANY=y
CONFIG_DWC_XLGMAC=m
CONFIG_DWC_XLGMAC_PCI=m
CONFIG_MDIO_CAVIUM=m
CONFIG_MDIO_THUNDER=m
CONFIG_SWPHY=y
CONFIG_BCM7XXX_PHY=m
CONFIG_FIXED_PHY=m
CONFIG_MFD_SYSCON=y
CONFIG_RESET_CONTROLLER=y
